<!--Content Heading Block-->
<% if (title) { %>
    <h1 id="detail-title">
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<!--Message Block-->
<%- message %>

<!--Inventory Details-->
<%- invDesc %>