<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!--Message Block-->
<% messages() %>

<!-- Inventory management view -->
<section id="managementPage">
    <h2>Click the button to add a new classification of vehicles</h2>
    <a href="/inv/add-classification" id="newClassBtn">Add New Classification</a>
    <h2>Click the button to add a new vehicle to the inventory</h2>
    <a href="/inv/addInventory" id="newCarBtn">Add New Vehicle</a>
</section>